@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.400-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.400-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.400-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.400italic-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.400italic-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.400italic-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.600-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.600-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.600-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.600italic-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.600italic-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.600italic-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.700-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.700-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.700-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.700italic-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.700italic-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.700italic-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.900-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.900-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.900-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }
@font-face { font-family: "Vollkorn webfont"; src: url(fonts\Vollkorn\Vollkorn.900italic-subset.woff2) format("woff2"), url(fonts\Vollkorn\Vollkorn.900italic-subset.woff) format("woff"), url(fonts\Vollkorn\Vollkorn.900italic-subset.ttf) format("truetype"); unicode-range: U+A,U+20-22,U+24-3F,U+41-5B,U+5D-5F,U+61-7A,U+A8,U+A9,U+C3,U+E0,U+E1,U+E9,U+F6,U+2DC,U+2013,U+2014,U+2018,U+2019,U+201C,U+201D,U+2026,U+2248,U+261E; }

html { --gray_900 : #212934; --gray_800 : #404B5A; --gray_700 : #6E7A8A; --gray_600 : #929FB1; --gray_500 : #AEBECD; --gray_400 : #CCD4DB; --gray_300 : #D5DDE5; --gray_200 : #E7ECF1; --gray_100 : #F8F9FA;--red_900: #8D1010; --red_800: #AE0D0D; --red_700: #C60000; --red_600: #C91A1A; --red_500: #E90000; --red_400: #FF3A3A; --red_300: #F06565; --red_200: #FD9898; --red_100: #FFDBDB; }
html {
    font-family: "Vollkorn webfont";
    line-height: 1.4;
    font-feature-settings: 'lnum', 'pnum';
}


body {
    margin: auto;
    max-width: 35em;
    padding: 1em;
}

a {
    color: #36c;
}

h1 {
    letter-spacing: 0.12em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 2em;
}


img {
    max-width: 100%;
    bottom: 0;
    position: relative;
    margin-bottom: -0.1em;
}

hr { 
    border: none; border-top: solid 2px black; 
}

ul, ol { 
    padding-left: 0.9em; 
}
li { 
    padding-left: 2em; 
}

html {font-size: 3vw;}
@media all and (min-width:800px) { html { font-size: 24px; } }
@media all and (max-width:600px) { html { font-size: 18px; } }

