@font-face {
  font-family: 'Karla';
  src: url(../fonts/Karla.ttf);
}

div#content {
    font-family : "Lato";
    font-size   : 20px;
    line-height : 1.5;
    max-width   : 40em;
    margin: 1em auto;
    padding: 0 1em;
}
blockquote {
    line-height   : 1.4;
}
a, a:visited {
    color: #36c;
    text-decoration : none;
}
a:hover {
    border-bottom       : solid medium ;
    border-bottom-color : inherit;
    transition: 0.1s;
}


body.dark
{
    background-color : #444;
    color            : #e6e6e6;
}
body.dark a
{
    color: lightsalmon;
}
img.preview {
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 1em;
}
.imgcontainer {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-family: "Lora";
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2em;
    }
    body {
        margin: 0 auto;
        padding: 0 1em;
    }

    blockquote {
        padding-left  : 1em;
        padding-right : 1em;
        font-size     : 90%;
    }
}

