
div.img {
    float: left;
    width: 40%;
    height: 250px;
    overflow: hidden;
    outline: solid thin;
    padding: 0px 10px;
    cursor: pointer;
    margin: 20px;
}
div.img > p {
    font-size: 13px;
}
div.img.light {
    background: #ffffff;
    color: #000000;
}
div.img.dark {
    background: #444;
    color: #e6e6e6;
}
