@font-face { 
    font-family: 'Concoures T3 Index'; 
    font-weight: 400; 
    font-style: normal; 
    src: url('concourse_t3_index-400.ttf') format('truetype'), url('concourse_t3_index-400.woff') format('woff'); 
}
