https://fonts.gstatic.com/s/ebgaramond/v11/SlGWmQSNjdsmc35JDF1K5GRweDs1YQ.woff
  out=EB Garamond Italic.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcMgWcgzorg.woff
  out=EB Garamond Medium Italic.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcOQRcgzorg.woff
  out=EB Garamond SemiBold Italic.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcIAQcgzorg.woff
  out=EB Garamond Bold Italic.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcJwTcgzorg.woff
  out=EB Garamond ExtraBold Italic.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGUmQSNjdsmc35JDF1K5GR1SD8.woff
  out=EB Garamond Regular.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyGaywSQgg.woff
  out=EB Garamond Medium.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyqbCwSQgg.woff
  out=EB Garamond SemiBold.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzObSwSQgg.woff
  out=EB Garamond Bold.woff
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzSbiwSQgg.woff
  out=EB Garamond ExtraBold.woff
