https://fonts.gstatic.com/s/ebgaramond/v11/SlGWmQSNjdsmc35JDF1K5GRweDs1Yg.ttf
  out=EB Garamond Italic.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcMgWcgzorQ.ttf
  out=EB Garamond Medium Italic.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcOQRcgzorQ.ttf
  out=EB Garamond SemiBold Italic.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcIAQcgzorQ.ttf
  out=EB Garamond Bold Italic.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcJwTcgzorQ.ttf
  out=EB Garamond ExtraBold Italic.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGUmQSNjdsmc35JDF1K5GR1SDw.ttf
  out=EB Garamond Regular.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyGaywSQgs.ttf
  out=EB Garamond Medium.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyqbCwSQgs.ttf
  out=EB Garamond SemiBold.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzObSwSQgs.ttf
  out=EB Garamond Bold.truetype
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzSbiwSQgs.ttf
  out=EB Garamond ExtraBold.truetype
