https://fonts.gstatic.com/s/ebgaramond/v11/SlGWmQSNjdsmc35JDF1K5GRweDs1Zw.woff2
  out=EB Garamond Italic.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcMgWcgzoqA.woff2
  out=EB Garamond Medium Italic.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcOQRcgzoqA.woff2
  out=EB Garamond SemiBold Italic.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcIAQcgzoqA.woff2
  out=EB Garamond Bold Italic.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGLmQSNjdsmc35JDF1K5GRwcJwTcgzoqA.woff2
  out=EB Garamond ExtraBold Italic.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGUmQSNjdsmc35JDF1K5GR1SDk.woff2
  out=EB Garamond Regular.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyGaywSQg4.woff2
  out=EB Garamond Medium.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GyqbCwSQg4.woff2
  out=EB Garamond SemiBold.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzObSwSQg4.woff2
  out=EB Garamond Bold.woff2
https://fonts.gstatic.com/s/ebgaramond/v11/SlGJmQSNjdsmc35JDF1K5GzSbiwSQg4.woff2
  out=EB Garamond ExtraBold.woff2
